<section class="app-card">

    @if (title() || subtitle()) {

        <header class="app-card__header">

            <div class="app-card__heading">

                @if (title()) {
                    <h2>{{ title() }}</h2>
                }

                @if (subtitle()) {
                    <p>{{ subtitle() }}</p>
                }

            </div>

            <div class="app-card__actions">

                <ng-content select="[card-actions]" />

            </div>

        </header>

    }

    <div class="app-card__content">

        <ng-content />

    </div>

    <footer class="app-card__footer">

        <ng-content select="[card-footer]" />

    </footer>

</section>
