:root {

  --gf-radius-none: 0;

  --gf-radius-xs: 2px;
  --gf-radius-sm: 4px;
  --gf-radius-md: 8px;
  --gf-radius-lg: 12px;
  --gf-radius-xl: 16px;
  --gf-radius-2xl: 20px;
  --gf-radius-3xl: 24px;

  --gf-radius-full: 9999px;

}