:root {

  --gf-space-0: 0;

  --gf-space-1: 4px;
  --gf-space-2: 8px;
  --gf-space-3: 12px;
  --gf-space-4: 16px;
  --gf-space-5: 20px;
  --gf-space-6: 24px;
  --gf-space-7: 28px;
  --gf-space-8: 32px;
  --gf-space-9: 40px;
  --gf-space-10: 48px;
  --gf-space-11: 56px;
  --gf-space-12: 64px;

}