:root {

  /* ==========================================================
     Font Family
     ========================================================== */

  --gf-font-family:
    Inter,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  /* ==========================================================
     Font Sizes
     ========================================================== */

  --gf-font-xs: 12px;
  --gf-font-sm: 14px;
  --gf-font-md: 16px;
  --gf-font-lg: 18px;
  --gf-font-xl: 20px;
  --gf-font-2xl: 24px;
  --gf-font-3xl: 30px;
  --gf-font-4xl: 36px;

  /* ==========================================================
     Font Weight
     ========================================================== */

  --gf-font-light: 300;
  --gf-font-normal: 400;
  --gf-font-medium: 500;
  --gf-font-semibold: 600;
  --gf-font-bold: 700;

  /* ==========================================================
     Line Height
     ========================================================== */

  --gf-line-height-sm: 1.2;
  --gf-line-height-md: 1.5;
  --gf-line-height-lg: 1.75;

}