:root {

  --gf-z-dropdown: 1000;
  --gf-z-sticky: 1020;
  --gf-z-fixed: 1030;
  --gf-z-drawer: 1040;
  --gf-z-modal-backdrop: 1050;
  --gf-z-modal: 1060;
  --gf-z-popover: 1070;
  --gf-z-tooltip: 1080;
  --gf-z-toast: 1090;

}